#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  min-width: 500px;
}

.full-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.full-name input {
  width: 94%;
}

.experience-input,
.education-input,
.project-input {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: dotted #242424 1px;
  border-radius: 8px;
}

.resume-ui {
  min-width: 500px;
}

.ui {
  margin-bottom: 3rem;
}

.ui h2 {
  border-bottom: 1px solid #242424;
  margin-bottom: 1rem;
}

.ui h3 {
  margin: 0;
}

.ui p {
  margin: 0;
}

.general h1 {
  font-size: 2rem;
  margin: 0;
}

.ui.general {
  text-align: center;
}

.school-desc,
.experience-desc,
.project-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.school-location,
.company-location,
.tools {
  margin: 0;
  font-style: italic;
  font-size: .95rem;
}

.submit-btn {
  background-color: rgb(43, 184, 15);
}